# Texturen
tubeTex texture assets/tank/textures/tube.png
chassisTex texture assets/tank/textures/chassis.png
tracksTex texture assets/tank/textures/tracks.png
# Sprites
tube sprite tubeTex
chassis sprite chassisTex
tracks sprite tracksTex
