# Texturen
tubeTex texture assets/tank/textures/tube.png
chassisTex texture assets/tank/textures/chassis.png
tracksTex texture assets/tank/textures/tracks.png
# Quelle: https://opengameart.org/content/2d-explosion-animations-frame-by-frame
tankFireTex texture assets/tank/textures/fire.png
# Sprites
# Name  sprite  Textur ID   Dummy   Offset X    Offset Y    Breite  Höhe    Pivot X Pivot Y
tube    sprite  tubeTex     size    25          -11         45      8       -25     0
chassis sprite  chassisTex  size    0           -5          90      28      0       0
tracks  sprite  tracksTex   size    0           15          78      14      0       0
# Animationen
# Name      sprite  Textur ID   animation   Textur Aufteilung X     Textur Aufteilung Y     Textur Gesamtanzahl
tankFire    sprite  tankFireTex animation   8                       8                       64