# Texturen
tubeTex texture assets/tank/textures/tube.png
chassisTex texture assets/tank/textures/chassis.png
tracksTex texture assets/tank/textures/tracks.png
# Sprites
tube sprite tubeTex sprite 27 -11 45 5 -27 0
chassis sprite chassisTex sprite 0 0 90 28 0 0
tracks sprite tracksTex sprite 0 19 78 14 0 0